.side-panel {
  flex-grow: 1;
  width: 20%;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.editor-container {
    flex-grow: 1;
    padding: 25px;
}

.editor-save {
    padding: 20px;
    border: 1px solid #f1f1f1;
    width: 40px;
    margin-top: 5px;
    color: #09ad09;
    cursor: pointer;
    border-radius: 4px;
}

.editor-save:hover {
    background: #f1f1f1;
}

.content {
  display: flex;
}