.toggle-mode {
    text-align: center;
    cursor: pointer;
    width: 100%;
    display: block;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.empty-text {
    text-align: center;
    padding: 15px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 100;
}