.present-link {
    text-align: center;
    cursor: pointer;
    width: 100%;
    display: block;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.AttendeeInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.AttendeeInfo {
    border: 1px solid #f1f1f1;
}

.Attendee {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 4px;
}

.info-box {
    padding: 15px;
    font-size: 18px;
    font-weight: 100;
}

.DescriptionBox {
    flex-grow: 1;
    max-width: 80%;
}

.Description {
    display: flex;
    height: 308px;
    border: 1px solid #f1f1f1;
    border-top: none;
}

h3.descriptionHeader {
    text-align: center;
    font-weight: 300;
}

.Mentors {
    flex-grow: 1;
    max-width: 20%;
}

button.assignMentor {
    width: 100%;
    border: 1px solid #f1f1f1;
    background: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
}

.Mentors p {
    text-align: center;
    font-size: 18px;
}

.vertical-menu {
    width: 100%;
    height: 400px;
    overflow-y: auto;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a:active {
    background-color: #434242;
    color: white;
}

.vertical-menu a.active {
    background-color: #4CA000;
    color: white;
}

