.navbar-main {
    min-height: 50px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border-bottom: 1px solid #f1f1f1;
}

a.navbar-link {
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
    display: block;
}

.navbar-header {
    position: absolute;
    left: 15px;
    height: 59px;
    line-height: 59px;
    font-weight: 100;
    font-size: 26px;
}