.AttendeeBoxes {
  padding-right: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #000;
}

.Filter {
    display: flex;
    justify-content: center;
    padding-left: 10px;
}

.toggle-mode {
    text-align: center;
    cursor: pointer;
    width: 100%;
    display: block;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}